<br><br>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1600">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/carousel4.jpg" class="d-block w-100" alt="Image 1" />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/carousel6.jpg" class="d-block w-100" alt="Image 2" />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/carousel7.jpg" class="d-block w-100" alt="Image 3" />
    </div>
  </div>

  <!-- Navigation controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Products -->
<div class="section-products container">
  <div class="header">
    <h2>Popular Products</h2>
  </div>
  <div class="row">
    <!-- Single Product -->
    <div
      *ngFor="let product of userProducts; let i = index"
      class="col-md-6 col-lg-4 col-xl-3"
    >
      <div [id]="'product-' + product.id" class="single-product" *ngIf="i < 4">
        <div class="part-1">
          <img
            [src]="'http://localhost:8080/api/downloadFile/' + product.id"
            alt="Product Photo"
            class="product-photo"
          />
          <ul>
            <li>
              <h3 class="product-description" style="font-size: small; color: white; margin-bottom: 70%;">
                {{ product.description }}
              </h3>
              
            </li>
            <li>
              <button class="btn" (click)="addToCart(product.id)">
                <i class="fas fa-shopping-cart"></i> Add to Cart
              </button>
            </li>
          </ul>
        </div>
        <div class="part-2">
          <h3 class="product-title">{{ product.title }}</h3>
          <h4 class="product-price">{{ "₹" + product.price }}</h4>
          <h4 class="product-old-price">₹999</h4>
        </div>
      </div>
    </div>
  </div>
  
  <div class="text-center mt-4">
    <button class="btn btn-primary" routerLink="/products">
      load More Products
    </button>
  </div>
</div>

