<br><br><br>

<div class="row">
  <div class="col-6">
    <br><br>
    <h2 class="text-center" style="color: var(--primary-700); font-family: 'Times New Roman';">Users</h2>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userDetails" (click)="setSelectedUser(user)" [ngClass]="user.id === userDetail.id ? 'table-primary' : ''">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-6"><br><br>
    <h2 class="text-center" style="color: var(--primary-700); font-family: 'Times New Roman';">Address</h2>
    <ng-container *ngIf="userDetail.addressList && userDetail.addressList.length > 0; else noAddress">
      <div class="address-details" *ngFor="let address of userDetail.addressList">
        <div class="mb-3" style="color: var(--primary-700);">
          <strong>Address:</strong> {{ address.address }}
        </div>
        <div class="mb-3" style="color: var(--primary-700);">
          <strong>City:</strong> {{ address.city }}
        </div>
        <div class="mb-3" style="color: var(--primary-700);">
          <strong>Pincode:</strong> {{ address.zipcode }}
        </div>
      </div>
    </ng-container>
    <ng-template #noAddress>
      <ng-lottie [options]="options" width="25%" style="display: flex;justify-content: center;"></ng-lottie>
      <p style="color: var(--primary-700); display: flex; justify-content: center;">No address available for this user.</p>
    </ng-template>
  </div>
</div>
