/* Modal styles */
.modal-content {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  color: var(--primary-500)!important;
  border-radius: var(--border-radius);
}

.modal-body {
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Table styles */
.table {
  background-color: rgba(255, 255, 255, 0.15)!important;
  backdrop-filter: blur(10px)!important;
  border: 1px solid rgba(255, 255, 255, 0.18)!important;
  border-radius: var(--border-radius);
  padding: 20px;
  animation: fadeIn 1s ease-in-out;}

/* Button inside the table */
.table button {
  border-radius: var(--border-radius);
  
}

/* Hover effect for the table button */
.table button:hover {
  background-color: var(--primary-500);
}

/* Additional styles for the Category header */
.d-flex h1 {
  color: var(--primary-500)!important;
  font-family: 'Times New Roman';
}

.d-flex button {
  background-color: var(--primary-500);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
}

.d-flex button:hover {
  background-color: var(--primary-900);
  color: var(--primary-500)!important;
}
.btn-primary,
.btn-danger,
.btn-dark {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primary-500);
  color: var(--primary-900);
}

.btn-danger {
  background: var(--red-500);
  color: var(--primary-900);
}

.btn-dark {
  background: var(--primary-700);
  color: var(--primary-900);
}

.btn-primary:hover,
.btn-danger:hover,
.btn-dark:hover {
  filter: brightness(1.2);
}