<!-- Header Section -->
<br><br>
<div class="d-flex justify-content-between align-items-center mt mt-5">
  <h1 Style="font-family: 'Times New Roman';">Category :</h1>
  <!-- Button to trigger modal for adding category -->
  <button
    type="button"
    class="btn btn-success text-black"
    (click)="resetForm()"
    data-bs-toggle="modal"
    data-bs-target="#categoryModal"
    data-bs-whatever="@mdo"
  >
    + Add Category
  </button>
</div>

<!-- Modal for adding/editing category -->
<div
  class="modal fade"
  id="categoryModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <!-- Modal Dialog -->
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Category</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- Modal Body with form -->
      <div class="modal-body">
        <!-- Form for adding/editing category -->
        <form #addCategoryForm="ngForm" (ngSubmit)="onSubmit(addCategoryForm)">
          <!-- Input for Category title -->
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Category title <span class="text-danger">*</span></label
            >
            <!-- Input field with validation classes -->
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="title"
              [(ngModel)]="categoryModel.title"
              required
              #title="ngModel"
              [ngClass]="{
                'is-invalid': title.invalid && (title.dirty || title.touched),
                'is-valid': !title.invalid && (title.dirty || title.touched)
              }"
              style="color: var(--primary-700)"
            />
            <!-- Validation feedback messages -->
            <div
              *ngIf="title.invalid && (title.dirty || title.touched)"
              class="invalid-feedback"
            >
              Title is required.
            </div>
            <div
              *ngIf="!title.invalid && (title.dirty || title.touched)"
              class="valid-feedback"
            ></div>
          </div>
          <!-- Modal Footer with buttons -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-danger text-dark">
              {{ categoryModel.id ? "Save" : "Add" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Display Section -->
<div class="container mt-5">
  <br />
  <br />
  <!-- Table to display categories -->
  <table class="table table-bordered text-center">
    <!-- Table Header -->
    <thead class="thead-dark">
      <tr class="table-danger">
        <th>S.No</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <!-- Table Body with categories -->
    <tbody>
      <!-- Loop through categories and display in rows -->
      <tr *ngFor="let category of categories; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ category.title }}</td>
        <!-- Edit button -->
        <td>
          <button
            class="btn btn-outline-dark btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#categoryModal"
            data-bs-whatever="@mdo"
            (click)="onEdit(category)"
          >
            <i class="fas fa-pencil-alt"></i> Edit
          </button>
        </td>
        <!-- Delete button -->
        <td>
          <button
            class="btn btn-outline-danger btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#confirmationModal"
            (click)="setSelectedCategoryId(category.id!)"
          >
            <i class="fas fa-trash-alt"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Confirmation Modal for deleting category -->
<app-component
  [title]="'Confirmation'"
  (confirm)="onDelete(selectedCategoryId!)"
  (cancel)="onCancelDelete()"
>
  Are you sure you want to delete category?
</app-component>
