<!-- Orders Section -->
<br /><br />
<div class="container">
  <!-- Title -->
  <h2 style="color: var(--primary-700)">My Orders</h2>

  <!-- Empty Order List Message -->
  <div *ngIf="orderItems.length === 0" class="text-center">
    <p style="color: var(--primary-700)">Your order list is empty.</p>
    <ng-lottie [options]="options" width="25%" style="display: flex;justify-content: center;"></ng-lottie>
  </div>

  <!-- Loop through Paged Order Items -->
  <div *ngFor="let order of pagedOrderItems" class="order-item">
    <!-- Order Details Section -->
    <div class="order-details">
      <h3 style="color: var(--primary-700)">Order ID: {{ order.id }}</h3>
      <p class="order-status">
        <strong>Status: {{ order.orderStatus }}</strong>
          <i [class]="getOrderStatusIconClass(order?.orderStatus||'')"></i>
      </p>


      <!-- <div class="progress-bar" [ngStyle]="{'background-color': getOrderStatusColor(order?.orderStatus || '')}">
        <div class="progress-bar-inner" [style.width.%]="getOrderStatusProgress(order?.orderStatus || 0)"></div>
      </div> -->
      
      
      
      <!-- Display Delivery Address -->
      <p class="delivery-address" >
        <strong style="color: var(--primary-700)"> Address:</strong> {{ order.address.address }}, {{ order.address.city }}-
        {{ order.address.zipcode }},
          {{ order.address.state }}
        
      </p>
      <p> <strong style="color: var(--primary-700)"> phoneNumber:</strong>{{order.address.phoneNumber}}</p>
    </div>

    <!-- Ordered Products Section -->
    <div class="ordered-products">
      <h3 style="color: var(--primary-700)">Ordered Products:</h3>
      <ul>
        <!-- Display Ordered Products List -->
        <li *ngFor="let product of order.orderedBeautyProductList">
          {{ product.title }} - ₹{{ product.price }}
        </li>
      </ul>
    </div>
  </div>

  <!-- Pagination Section -->
  <div *ngIf="orderItems.length!= 0" class="text-center">
    <div class="pagination">
      <!-- Previous Page Button -->
      <button
        class="btn btn-primary"
        (click)="prevPage()"
        [disabled]="currentPage === 1"
        id="back-button"
      >
        Previous
      </button>
      <span>{{ currentPage }} / {{ totalPages }}</span>
      <!-- Next Page Button -->
      <button
        class="btn btn-primary"
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
        id="back-button"
      >
        Next
      </button>
    </div>
  </div>

  <!-- Go Back Button -->
  <a routerLink="/" class="btn btn-primary btn-rounded" id="back-button">Go Back</a>
</div>
