<br><br><br>

<div class="d-flex">
  <h2 class="text-center" style="color: var(--primary-700); font-family: 'Times New Roman';">User Orders</h2>
</div>

<div class="container mt-3" *ngIf="userOrders && userOrders.length > 0">
  <br />
  <br />
  <table class="table table-bordered text-center">
    <thead class="thead-dark">
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Username</th>
        <th>Address</th>
        <th style="width: 200px;">Product Details</th>
        <th>Order Status</th>
        <th>Action</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of userOrders; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.username }}</td>
        <td  *ngFor="let a of order.addressList">
          {{ a.address }}, {{ a.city }},
          {{ a.zipcode }}
        </td>
        <td>
          <span *ngFor="let product of order.orderedBeautyProductList; let last = last">
            {{ product.title }} - ₹ {{ product.price }}
            <ng-container *ngIf="!last"><br /></ng-container>
          </span>
        </td>
        <td>
          <select class="form-select" [(ngModel)]="order.orderStatus">
            <option value="Pending">Pending</option>
            <option value="Confirmed">Confirmed</option>
            <option value="Out for Delivery">Out for Delivery</option>
            <option value="Delivered">Delivered</option>
          </select><br>
        </td>
        <td>
          <button class="btn btn-primary" (click)="onEditOrderStatus(order)">Change</button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
<div class="container mt-5 text-center" *ngIf="!userOrders || userOrders.length === 0">
  <h4 style="color: var(--primary-700);"><strong>No orders available</strong>.</h4>
  <!-- <img src="https://www.clipartbest.com/cliparts/acq/LKG/acqLKGAzi.gif" alt=""  width="25%"> -->
</div>
