@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
    
    a,
    a:hover {
      text-decoration: none;
      color: inherit;
    }
    .section-products {
      padding: 80px 0 54px;
    }
  
    .section-products .header {
      margin-bottom: 50px;
    }
  
    .section-products .header h2 {
      font-size: 2.2rem;
      font-weight: 400;
      color: #b91c1c;
    }
  
    .section-products .single-product {
      margin-bottom: 26px;
    }
  
    .section-products .single-product .part-1 {
      position: relative;
      height: 290px;
      max-height: 290px;
      margin-bottom: 20px;
      overflow: hidden;
    }
  
    .section-products .single-product .part-1::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.3s;
    }
  
    .section-products .single-product:hover .part-1::before {
      transform: scale(1.2, 1.2) rotate(5deg);
    }
  
    .section-products .part-1::before,
    .product-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  
    .product-photo:hover {
      transform: scale(1.1);
    }
    
    .section-products #product-2 .part-1::before {
      background: url("https://images.unsplash.com/photo-1686831451322-8d8e234a51e1?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center;
      background-size: cover;
    }
    
    .section-products #product-3 .part-1::before {
      background: url("https://images.unsplash.com/photo-1686831889287-b112f2e85132?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center;
      background-size: cover;
    }
    
    .section-products #product-4 .part-1::before {
      background: url("https://images.unsplash.com/photo-1686121522357-48dc9ea59281?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center;
      background-size: cover;
    }
    .section-products #product-5 .part-1::before {
      background: url("https://img.freepik.com/free-vector/realistic-cream-advertisement_52683-8098.jpg?w=740&t=st=1700330943~exp=1700331543~hmac=6b1578a6252e13ab7ab8fc7ba3f7b2136bd82a365d749a1e8a4a319564bf66d0") no-repeat center;
      background-size: cover;
    }
    .section-products #product-6 .part-1::before {
      background: url("https://img.freepik.com/free-vector/floral-perfume-ad_52683-34570.jpg?w=996&t=st=1700330964~exp=1700331564~hmac=750e75b0fe57700a593f0b81aeaac34ec65b02247f0ddc4f3000c80ddf892571") no-repeat center;
      background-size: cover;
    }
    .section-products #product-7 .part-1::before {
      background: url("https://img.freepik.com/free-vector/peonies-flowers-cosmetic-ad_52683-32756.jpg?w=740&t=st=1700331001~exp=1700331601~hmac=c0ba63659572148a15ff14861e7ca617e4702ff779e1038889102ae26f5469d1") no-repeat center;
      background-size: cover;
    }
    .section-products #product-8 .part-1::before {
      background: url("https://img.freepik.com/free-vector/realistic-cream-advertisement_52683-8158.jpg?w=996&t=st=1700331054~exp=1700331654~hmac=f312d925c0561476c223c543b42d4de824ec8015f895cb23c316066edbe4c6f3") no-repeat center;
      background-size: cover;
    }

    .section-products #product-9 .part-1::before {
        background: url("https://img.freepik.com/free-vector/pink-cosmetic-ad_52683-8499.jpg?w=740&t=st=1700461610~exp=1700462210~hmac=ed377aae82b504e47a1f159d656bd8427c0b4c19d22a014956a26c039e84c749") no-repeat center;
        background-size: cover;
      }

      .section-products #product-10 .part-1::before {
        background: url("https://img.freepik.com/free-vector/natural-cream-ad-realistic-style_23-2148250898.jpg?w=996&t=st=1700461660~exp=1700462260~hmac=d016a67a6ddb87ac7c159f7c7f204779c2bcdda5bee1a41b5a4f2d81260797d3") no-repeat center;
        background-size: cover;
      }
      .section-products #product-11 .part-1::before {
        background: url("https://img.freepik.com/free-vector/pink-cosmetic-advertising_23-2147713641.jpg?w=740&t=st=1700461681~exp=1700462281~hmac=d8f976ba968a179042e607f3ae61749df45acd3de7ff67598c5707b01c57fe5f") no-repeat center;
        background-size: cover;
      }
      .section-products #product-12 .part-1::before {
        background: url("https://img.freepik.com/free-vector/poster-promotion-cosmetic-moisturizing-premium-product_1441-175.jpg?w=900&t=st=1700461716~exp=1700462316~hmac=a509b5da1741f8548e1355a1c74dc098a5e8f33fdc4c7c499a9ad137df9f3d0b") no-repeat center;
        background-size: cover;
      }
      .section-products #product-13 .part-1::before {
        background: url("https://img.freepik.com/free-vector/night-cosmetic-gel-eyes-skin-care_88138-256.jpg?t=st=1700461681~exp=1700462281~hmac=ae24f7a2d36ef9a2956a8ba6182644838a239288bbb226542877c85d08585bc4") no-repeat center;
        background-size: cover;
      }
      .section-products #product-14 .part-1::before {
        background: url("https://img.freepik.com/free-vector/realistic-argan-oil-hair-serum-promo_52683-59183.jpg?w=996&t=st=1700461798~exp=1700462398~hmac=064a69ebccde4fe6743151bc90b92ab1bac4f3bbe3424b07922d72bcc07be35b") no-repeat center;
        background-size: cover;
      }
      .section-products #product-15 .part-1::before {
        background: url("https://img.freepik.com/free-vector/vector-illustration-realistic-style-red-plastic-cosmetic-containers-with-golden-caps_1441-380.jpg?w=740&t=st=1700461867~exp=1700462467~hmac=bad78c17db78a72547b7e4d587e27389feae460f95aa3d9877e87972caa1aa7b") no-repeat center;
        background-size: cover;
      }
      .section-products #product-16 .part-1::before {
        background: url("https://img.freepik.com/free-vector/summer-skin-care-cosmetics-tropic-vector_88138-287.jpg?w=1060&t=st=1700461939~exp=1700462539~hmac=dbcc59043d92d19206da492c651076d7ac2cff306cd5877b6d72ee5e0cd045a6") no-repeat center;
        background-size: cover;
      }
    
    .section-products .single-product .part-1 .new {
      position: absolute;
      top: 15px;
      left: 0;
      background-color: #c70000;
      color: #ffffff;
      padding: 2px 8px;
      text-transform: uppercase;
      font-size: 0.85rem;
    }
    
    .section-products .single-product .part-1 ul {
      position: absolute;
      bottom: -41px;
      left: 20px;
      margin: 0;
      padding: 0;
      list-style: none;
      opacity: 0;
      transition: bottom 0.5s, opacity 0.5s;
    }
    
    .section-products .single-product:hover .part-1 ul {
      bottom: 30px;
      opacity: 1;
    }
    
    .section-products .single-product .part-1 ul li {
      display: inline-block;
      margin-right: 4px;
    }
    
    .section-products .single-product .part-1 ul li a {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #ffffff;
      color: #444444;
      text-align: center;
      box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
      transition: color 0.2s;
    }
    
    .section-products .single-product .part-1 ul li a:hover {
      color: #fe302f;
    }
    
    .section-products .single-product .part-2 .product-title {
      font-size: 1rem;
    }
    
    .section-products .single-product .part-2 h4 {
      display: inline-block;
      font-size: 1rem;
    }
    
    .section-products .single-product .part-2 .product-old-price {
      position: relative;
      padding: 0 7px;
      margin-right: 2px;
      opacity: 0.6;
    }
    
    .section-products .single-product .part-2 .product-old-price::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #444444;
      transform: translateY(-50%);
    }
    
    .btn {
      color: var(--secondary-100);
      background: #b91c1c !important;
      border: none;
      padding: 5px 15px;
      cursor: pointer;
    }
    .btn:hover{
      text-decoration: none;
      color: inherit
    }