<!-- <div class="section-products container">
    <div class="header">
        <h2>All Products</h2>
      </div>
    <div class="row">
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-1" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  
 
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-2" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  
 
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-3" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  
 
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-4" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  
 
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-5" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  
 
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-6" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  
 
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-7" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  
 
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-8" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  
 

<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-9" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  

<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-10" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  

<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-11" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  

<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-12" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  

<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-13" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  

<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-14" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  
 
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-15" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
  

<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-16" class="single-product">
      <div class="part-1">
        <ul>
          <li><button class="btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button></li>
        </ul>
      </div>
      <div class="part-2">
        <h3 class="product-title">New Product Title 1</h3>
        
        <h4 class="product-price">$49.99</h4>
      </div>
    </div>
  </div>
                         
<div class="text-center mt-4">
  <button class="btn btn-primary" routerLink="">Go Back</button>
</div> -->
<div class="section-products container">
  <div class="header">
    <h2>All Products</h2>
  </div>
  <div class="row">
    <!-- Single Product -->
    <div class="row">
      <div *ngFor="let product of userProducts" class="col-md-6 col-lg-4 col-xl-3">
        <div [id]="'product-' + product.id" class="single-product">

    
          <div class="part-1">            <img [src]="'http://localhost:8080/api/downloadFile/' + product.id" alt="Product Photo" class="product-photo"  />
            <ul>
              <li>
                <button class="btn" (click)="addToCart(product.id)">
                  <i class="fas fa-shopping-cart"></i> Add to Cart
                </button>
              </li>
            </ul>
          </div>
          
          <div class="part-2">

            <h3 class="product-title">{{ product.title }}</h3>
            <h4 class="product-price">{{ '₹' + product.price.toFixed(2) }}</h4>
            <h4 class="product-old-price">	₹1000</h4>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="text-center mt-4">
    <button class="btn btn-primary" routerLink="/">Go Back</button>
  </div>
</div>
