<div class="section-products container">
  <div class="header">
    <h2>All Products</h2>
 
  <div class="input-group custom-search">
    <input
      class="form-control mx-5 rounded mt-5"
      type="search"
      placeholder=" Search product By Name"
      aria-label="Search"
      [(ngModel)]="search"
      (ngModelChange)="filterArray()"
      style="color: var(--primary-700);"
    />
  </div>
</div>
  <br>
  <div class="row">
    <!-- Single Product -->
    <div *ngFor="let product of userProducts" class="col-md-6 col-lg-4 col-xl-3">
      <div [id]="'product-' + product.id" class="single-product">
        <div class="part-1">
          <img
            [src]="'http://localhost:8080/api/downloadFile/' + product.id"
            alt="Product Photo"
            class="product-photo"
          />
          <ul>
            <li>
              <h3 class="product-description" style="font-size: small; color: white; margin-bottom: 70%">
                {{ product.description }}
              </h3>
            </li>
            <li>
              <button class="btn" (click)="addToCart(product.id)">
                <i class="fas fa-shopping-cart"></i> Add to Cart
              </button>
            </li>
          </ul>
        </div>

        <div class="part-2">
          <h3 class="product-title">{{ product.title }}</h3>
          <h4 class="product-price">{{ "₹" + product.price }}</h4>
          <h4 class="product-old-price">₹1000</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <button class="btn btn-primary" routerLink="/">Go Back</button>
  </div>
</div>
