.container {
    max-width: 800px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.2); 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Glass morphism shadow */
    background-image: url('https://images.unsplash.com/photo-1694023445909-8752bb171a00?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace 'your-background-image-url.jpg' with the actual image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
    background-color: var(--primary-600) !important;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.05);
}

.order-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Glass morphism border */
    padding: 10px 0;
    transition: transform 0.3s ease-in-out;
}

.order-item:hover {
    transform: scale(1.02);
}

.product-name {
    font-weight: bold;
    color: var(--primary-700); /* Primary-700 font color */
}

.order-status {
    color: var(--primary-700); /* Primary-700 font color */
}

#back-button {
    background-color: var(--primary-700) !important;
    font-weight: 700;
    color: var(--primary-100);
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

#back-button:hover {
    background-color: var(--primary-100)!important;
    color: var(--primary-700);
}


.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 12px;
    font-size: 14px;
  }
  
  .pagination span {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
  }
  