<!-- Welcome and Go Back Section -->
<br /><br />
<div class="row mt-3 mx-3" style="margin-top: 25px">
  <!-- Welcome Section -->
  <div class="col-md-3">
    <div class="text-center" style="margin-top: 50px; margin-left: 10px">
      <i
        id="animationDemo"
        data-mdb-animation="slide-right"
        data-mdb-toggle="animation"
        data-mdb-animation-reset="true"
        data-mdb-animation-start="onScroll"
        data-mdb-animation-on-scroll="repeat"
      ></i>
      <ng-lottie
        [options]="options"
        width="25%"
        style="display: flex; justify-content: center"
      ></ng-lottie>
      <h3 class="mt-3" style="color: var(--primary-700)">Welcome User!!!</h3>
    </div>
    <!-- Go Back Button -->
    <div class="text-center">
      <a href="" type="submit" class="btn btn-primary btn-rounded back-button"
        >Go Back</a
      >
    </div>
  </div>

  <!-- Delivery Details Section -->
  <div class="col-md-9 justify-content-center">
    <div class="card card-custom pb-4">
      <div class="card-body mt-0 mx-5">
        <div class="text-center mb-3 pb-2 mt-3">
          <h4 style="color: #495057">Delivery Details</h4>
        </div>

        <!-- Form for adding a new address -->
        <form #addressForm="ngForm" (ngSubmit)="onSubmit(addressForm)">
          <!-- Address Input Fields -->
          <div
            class="row mb-4"
            *ngIf="
              !(
                userDetails &&
                userDetails[0]?.addressList &&
                (userDetails[0]?.addressList)!.length > 0
              )
            "
          >
            <!-- Address -->
            <div class="row">
              <div class="form-outline mb-3">
                <label
                  class="form-label"
                  for="form9Example6"
                  style="color: var(--primary-700)"
                  >address <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  id="form9Example6"
                  class="form-control input-custom"
                  style="color: var(--primary-700)"
                  [(ngModel)]="addressModel.address"
                  name="address"
                  required
                  #modelAddress="ngModel"
                  [ngClass]="{
                    'is-invalid':
                      modelAddress.invalid &&
                      (modelAddress.dirty || modelAddress.touched),
                    'is-valid':
                      !modelAddress.invalid &&
                      (modelAddress.dirty || modelAddress.touched)
                  }"
                />
                <div
                  *ngIf="
                    modelAddress.invalid &&
                    (modelAddress.dirty || modelAddress.touched)
                  "
                  class="text-danger"
                >
                  address required
                </div>
              </div>
            </div>

            <!-- City -->
            <div class="row">
              <div class="form-outline mb-3">
                <label
                  class="form-label"
                  for="form9Example3"
                  style="color: var(--primary-700)"
                  >City <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  id="form9Example3"
                  class="form-control input-custom"
                  style="color: var(--primary-700)"
                  [(ngModel)]="addressModel.city"
                  name="city"
                  required
                  #modelCity="ngModel"
                  [ngClass]="{
                    'is-invalid':
                      modelCity.invalid &&
                      (modelCity.dirty || modelCity.touched),
                    'is-valid':
                      !modelCity.invalid &&
                      (modelCity.dirty || modelCity.touched)
                  }"
                />
                <div
                  *ngIf="
                    modelCity.invalid && (modelCity.dirty || modelCity.touched)
                  "
                  class="text-danger"
                >
                  city required
                </div>
              </div>
            </div>

            <!-- ZipCode -->
            <div class="row">
              <div class="form-outline mb-3">
                <label
                  class="form-label"
                  for="form9Example4"
                  style="color: var(--primary-700)"
                  >ZipCode <span class="text-danger">*</span></label
                >
                <input
                  type="number"
                  id="form9Example4"
                  class="form-control input-custom"
                  [(ngModel)]="addressModel.zipcode"
                  name="zipcode"
                  required
                  pattern="\d{6}"
                  #modelZipcode="ngModel"
                  [ngClass]="{
                    'is-invalid':
                      modelZipcode.invalid &&
                      (modelZipcode.dirty || modelZipcode.touched),
                    'is-valid':
                      !modelZipcode.invalid &&
                      (modelZipcode.dirty || modelZipcode.touched)
                  }"
                  style="color: var(--primary-700)"
                />
                <div
                  *ngIf="
                    modelZipcode.invalid &&
                    (modelZipcode.dirty || modelZipcode.touched)
                  "
                  class="text-danger"
                >
                  ZipCode is required and must be 6 digits.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-outline mb-3">
                <label
                  class="form-label"
                  for="form9Example3"
                  style="color: var(--primary-700)"
                  >state <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  id="form9Example3"
                  class="form-control input-custom"
                  style="color: var(--primary-700)"
                  [(ngModel)]="addressModel.state"
                  name="state"
                  required
                  #modelState="ngModel"
                  [ngClass]="{
                    'is-invalid':
                      modelState.invalid &&
                      (modelState.dirty || modelState.touched),
                    'is-valid':
                      !modelState.invalid &&
                      (modelState.dirty || modelState.touched)
                  }"
                />
                <div
                  *ngIf="
                    modelState.invalid &&
                    (modelState.dirty || modelState.touched)
                  "
                  class="text-danger"
                >
                  state required
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-outline mb-3">
                <label
                  class="form-label"
                  for="form9Example4"
                  style="color: var(--primary-700)"
                  >phoneNumber <span class="text-danger">*</span></label
                >
                <input
                  type="number"
                  id="form9Example4"
                  class="form-control input-custom"
                  [(ngModel)]="addressModel.phoneNumber"
                  name="phoneNumber"
                  required
                  pattern="\d{10}"
                  #modelPhoneNumber="ngModel"
                  [ngClass]="{
                    'is-invalid':
                      modelPhoneNumber.invalid &&
                      (modelPhoneNumber.dirty || modelPhoneNumber.touched),
                    'is-valid':
                      !modelPhoneNumber.invalid &&
                      (modelPhoneNumber.dirty || modelPhoneNumber.touched)
                  }"
                  style="color: var(--primary-700)"
                />
                <div
                  *ngIf="
                    modelPhoneNumber.invalid &&
                    (modelPhoneNumber.dirty || modelPhoneNumber.touched)
                  "
                  class="text-danger"
                >
                  phoneNumber is required and must be 10 digits.
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="float-end">
              <button type="submit" class="btn btn-primary me-2">
                {{ editingAddress ? "Add" : "save" }}
              </button>
            </div>
          </div>

          <!-- Display user addresses -->
          <div class="address-details" *ngFor="let user of userDetails">
            <div *ngIf="user.addressList && user.addressList.length > 0">
              <!-- Display Address Details -->
              <div class="mt-4"><strong>Address Details:</strong></div>
              <div
                *ngFor="let address of user.addressList"
                class="border p-3 mb-3"
              >
                <div class="mb-2"><strong>Name:</strong> {{ user.name }}</div>
                <div class="mb-2">
                  <strong>address:</strong> {{ address.address }}
                </div>
                <div class="mb-2">
                  <strong>City:</strong> {{ address.city }}
                </div>
                <div class="mb-2">
                  <strong>Zipcode:</strong> {{ address.zipcode }}
                </div>
                <div class="mb-2">
                  <strong>State:</strong>{{ address.state }}
                </div>
                <div class="mb-2">
                  <strong>PhoneNumber</strong> {{ address.phoneNumber }}
                </div>
                <!-- Edit and Delete Buttons -->
                <div class="d-flex justify-content-end">
                  <button
                    type="submit"
                    class="btn btn-primary me-2"
                    (click)="onEdit(address)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-danger me-2"
                    id="modal"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmationModal"
                    (click)="setSelectedAddressId(address.id!)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<app-component
  [title]="'Confirmation'"
  (confirm)="onDelete(selectedAddressId!)"
  (cancel)="onCancelDelete()"
>
  Are you sure you want to delete address?
</app-component>
